#logo {
    width: 50px;
    height: auto;
}

#sparadrap-logo {
    font-family: "montserrat", sans-serif;
    font-size: xx-large;
}

#btn-nv-client {

    border-radius: 8px;
    color: cornflowerblue;
    border-color: cornflowerblue;
    text-align: center;

}

#btn-nv-client:hover {
    background-color: cornflowerblue;
    color: floralwhite;
}


